div.dataTables_wrapper {
    width: 800px;
    margin: 0 auto;
}

td,
th {
    height: 5vh;
    padding: 0.3em;
}

table.dataTable td:nth-child(10) {
    max-width: 20vw;
    overflow-x: scroll;
}

table.dataTable td:nth-child(11) {
    max-width: 20vw;
    overflow-x: scroll;
}

table.dataTable td:nth-child(12) {
    max-width: 20vw;
    overflow-x: scroll;
}

table.dataTable td:nth-child(10)::-webkit-scrollbar {
    display: none;
}

table.dataTable td:nth-child(11)::-webkit-scrollbar {
    display: none;
}

table.dataTable td:nth-child(12)::-webkit-scrollbar {
    display: none;
}