{% extends "layout.html.jinja" %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col">
            <div class="col">
                <h3 class="author-name">
                    Piotr Grochala
                </h3>
            </div>
            <div class="row">
                <div class="col college">
                    Student na Uniwersytecie Ekonomicznym W Krakowie
                    <br> Kierunek: Informatyka Stosowana
                    <br> Numer albumu: 218313
                </div>

            </div>
            <div class="row">
                <div class="col contact">
                    e-mail: piotr-0625@gazeta.pl

                    <br>
                    <a href="https://github.com/grochalapiotr ">
                        github.com/grochalapiotr
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock body %} 