{% extends "layout.html.jinja" %}
{% block head %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/product.css') }}">
{% endblock head %}
{% block body %}
    <h2>Opinie o produkcie</h2>
    <h2>{{ product['product_name'] }}</h2>
    <div class="table_style">
        <table id='opinions' class="table table-striped table-hover table-bordered display nowrap ">
            <thead>
                <tr>
                        <th>Id opinii</th>
                        <th>Autor</th>
                        <th>Rekomendacja</th>
                        <th>Ocena</th>
                        <th>Potwierdzone zakupem</th>
                        <th>Data wystawienia</th>
                        <th>Data zakupu</th>
                        <th>Opinia przydatna</th>
                        <th>Opinia nieprzydatna</th>
                        <th>Treść opinii</th>
                        <th>Zalety</th>
                        <th>Wady</th>
                </tr>
            </thead>    
            <tbody>
            {% for opinion in product.opinions %}
                <tr>
                        <td>{{opinion['opinion_id']}}</td>
                        <td>{{opinion['author']}}</td>
                        <td>{{opinion['recommendation']}}</td>
                        <td>{{opinion['stars']}}</td>
                        <td>{{opinion['verified']}}</td>
                        <td>{{opinion['post_date']}}</td>
                        <td>{{opinion['purchase_date']}}</td>
                        <td>{{opinion['usefulness']}}</td>
                        <td>{{opinion['uselessness']}}</td>
                        <td align ="left">{{opinion['content']}}</td>
                        <td align ="left">{{', '.join(opinion['pros'])}}</td>
                        <td align ="left">{{', '.join(opinion['cons'])}}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %} 
{% block scripts %}
    <script>
        $(document).ready(function() {
    $('#opinions').DataTable( {
        "scrollX": true
    } );
} );
    </script>
{% endblock scripts %}