{% extends "layout.html.jinja" %}

{% block body %}
    <div style="margin: 0 auto; width:500px;">
        <h2>Lista produktów</h2>
        <ul class="list-group">
            {% for product in products %}
                <li class="list-group-item"><a href="{{ url_for('product', product_id=product) }}">{{ product }}   {{ products_names[product] }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %} 